.dropdown-menu > .container {
    min-width: 19.25rem;
}

.dropdown-menu .btn-toolbar > * {
    flex-grow: 1;
    /* font-size: smaller !important; */
}

.dropdown-menu .btn-toolbar > :not(:last-child) {
    margin-right: 0.325rem;
}

.badge .badge {
    margin-top: -0.25rem;
    margin-bottom: -0.25rem;
    padding: 0 0.15rem;
}