.flip {
    transform: scaleX(-1);
}

/* .word-table {
    font-size: smaller;
} */

.word-table>.row>.marks {
    width: 0;
    direction: rtl;
    white-space: nowrap;
}

.word-table>:first-of-type(.header) {
    font-weight: bolder;
}

.word-table .entry {
    border-top: 1px grey solid;
}

.word-table .partOfSpeech, .word-table .headword {
    font-weight: bold;
}

.word-table .pronunciation {
    font-style: italic;
    color: grey;
}

.word-table .not-found {
    color: red;
}

.trigger-click {
    cursor: pointer;
}

.popover.tags>*{
    font-size: 75%;
}

.badge-light {
    border: 1px dotted #21252940;
}

.badge:not(:last-of-type) {
    margin-right: 0.2rem;
}

.popover.info {
    max-width: calc(100% - 4rem);
}

.definition::before {
    content: "»";
    position: relative;
    float: left;
    transform: translateX(-0.7rem);
    width: 0;
    opacity: 0.5;
}